

.container {
    width:900px;
    height:500px;
    margin: auto;
    @media (max-width: 900px) {
        .carousel {
          width:700;
          height:500;
        }
    }
}

.height {
  width:auto;
  height:900px;
}